body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.square {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 55px;
  height: 55px;
  border: 1px black solid;
}

.square > span {
  margin-bottom: -3px;
  font-size: 36px;
}

h1 {
  display: flex;
  position: relative;
  align-items: flex-end;
  font-size: 35px;
}

nav {
  margin-top: 35px;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  height: 40px;
}

.links > a {
  font-size: 23px;
  transition-duration: 0.5s;
  text-decoration: none;
  margin: 20px;
  color: #232323;
}

.links > a:hover {
  text-decoration: underline;
  color: lightgrey;
}

.btn {
  background-color: #da3458;
  border-radius: 5px;
  border-color: #da3458;
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 18px;
  padding: 8px 15px;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: #b82041;
}
.burger {
  display: none;
}
.burger > div {
  width: 30px;
  height: 5px;
  margin: 5px;
  background-color: black;
}

.container {
  display: flex;
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 5%;
  width: 80%;
  min-height: 500px;
}

.info {
  padding-left: 10px;
  padding: 80px;
  background-color: #f9f9f9;
  width: 50%;
  height: 100%;
  padding-right: 5%;
}

.info > h1 {
  font-size: 70px;
  margin-bottom: -50px;
}

.big {
  font-size: 75px;
}

.photo {
  background-size: cover;
  background-image: url(photo-94.jpg);
  width: 50%;
  height: 900px;
  margin-top: 300px;
}

.content {
  text-align: center;
  margin-top: 150px;
}

.content > span {
  font-size: 50px;
  font-weight: bold;
}

.Event {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  
  margin: 10%;
}

.Event > div > div {
  margin-bottom: 100px;
}

.imgsize1 {
  box-shadow: 1px 1px 20px rgb(226, 225, 225);
  width: 500px;
  min-height: 800px;
  background-size: cover;
  background-image: url(printscreen-01.jpg);
}
.imgsize2 {
  box-shadow: 1px 1px 20px rgb(226, 225, 225);
  width: 500px;
  min-height: 800px;
  background-size: cover;
  background-image: url(printscreen-02.jpg);
  margin-left: 60px;
}
.imgsize3 {
  box-shadow: 1px 1px 20px rgb(226, 225, 225);
  background-image: url(printscreen-01.jpg);
  width: 500px;
  min-height: 800px;
  background-size: cover;
}
.imgsize4 {
  box-shadow: 1px 1px 20px rgb(226, 225, 225);
  background-image: url(printscreen-02.jpg);
  width: 500px;
  min-height: 800px;
  background-size: cover;
  margin-left: 60px;
}
.imgsize5 {
  box-shadow: 1px 1px 20px rgb(226, 225, 225);
  background-image: url(printscreen-01.jpg);
  width: 500px;
  min-height: 800px;
  background-size: cover;
}
.imgsize6 {
  box-shadow: 1px 1px 20px rgb(226, 225, 225);
  background-image: url(printscreen-02.jpg);
  width: 500px;
  min-height: 800px;
  background-size: cover;
  margin-left: 60px;
}

.text {
    text-align: center;
    font-weight: 1000;
    font-size: 20px;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .info {
    width: 90%;
    margin-bottom: 30px;
  }
  .photo {
    width: 100%;
    margin-top: 20px;
  }
  .links {
    display: none;
  }
  .burger {
    display: inline;
  }
  .content {
    margin-top: 20px;
  }
  .imgsize6, .imgsize2, .imgsize4{
      margin-left: 0px;
  }
}
